*{
    
}

.no-shadow{
    box-shadow: unset;
}

.no-border{
    border: 0;
}

.kanan{
    float: right;
}

body{
    background-color: #EEEEEE
}

.blue{
    background-color: #2699FB;
}

.white{
    background-color: #FFFFFF;
}

.bluish{
    background-color:#7FC4FD;
}
.abu{
    color: #95989A;
}
/* #EEEEEE,  #7FC4FD, #95989A, #2699FB*/

/* navbar */
nav .brand-logo{
    font-size: 1.5rem;
}

.atas-tombol{
    position: fixed;
    width: 70%;
    right: 5vw;
    bottom: 15vh;
}

.add{
    position: absolute;
    right: 0;
    margin: 10px;
}

/* card */
.container90{
    width: 90%;
    margin: auto;
    /* margin-top: 5rem; */
    padding-top: 1.5rem;
}

/* .card{
    margin: 20px 0;
} */

.card-image .card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card .card-action .pinggir{
    float: right;
    margin: 0;
    cursor: pointer;
}

/* .card .card-action a:not(:nth-child(1)){
    margin-right: 0;
} */

#del{
    margin-right: 0;
}

.card .card-image .card-title.pgn{
    right: 0;
    left: none;
}

.card .card-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-image{
    position: relative;
    padding-top: 75%;
    overflow: hidden;
}

.card-content{
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.pd-btm{
    padding-bottom: 1rem;
}

/* search bar */
.search{
    width: 50%;
    height: 7vh;
}

.search .material-icons{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 7vh;
    line-height: 7vh;
}


/* add page */
.judulpage{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 32px;
    color: #2699FB;
    margin: 0;

}

.row .col.s6{
    width: 100%;
}

/* table page */
.judultable{
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

table thead tr th, table tbody tr td{
    text-align: center;
}

table thead tr th{
    color: white;
}

.rowtable{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

/* pagination */
ul.paginasi{
    padding: 1.5rem;
    margin: auto;
    float: right;
}

.pagination li.active{
    background-color: #2699FB;
}

/* chart page */
.cntnr{
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .search{
        width: 100%;
    }
}

.input-field input[type="search"] + .label-icon {
    left: 0rem;
}